<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
	<head>
		<title>ましろちゃん美術館</title>
		<meta name="description" content="ましろちゃん美術館へようこそ！ここは世界一かわいい倉田ましろちゃんを眺められるサイトです。"/>
		<link rel="stylesheet" href="/css/topPage.css">
	</head>
  </head>

	<body>
		<h1>ましろちゃん美術館</h1>
		<a href="mashiro_images">ましろちゃん画像一覧</a>
		<th:block th:if="!${#lists.isEmpty(rank4DataList)}">
			<h2>レアリティ：★★★★</h2>
			<table>
				<tr>
					<th rowspan="2">カード名</th>
					<th colspan="5">ステータス</th>
					<th colspan="2">スキル</th>
				</tr>
				<tr>
					<th>タイプ</th>
					<th>パフォーマンス</th>
					<th>テクニック</th>
					<th>ビジュアル</th>
					<th>総合力</th>
					<th>スキル名</th>
					<th>効果</th>
				</tr>
				<th:block th:each="card4 : ${rank4DataList}">
					<tr>
						<td>
							<th:block th:if="${card4.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/4/' + ${card4.beforeEvolutionImage}">[[${card4.cardName}]]（進化前）</a><br>
								<a th:href="'/image/BangDream/4/' + ${card4.afterEvolutionImage}">[[${card4.cardName}]]（進化後）</a>
							</th:block>
							<th:block th:unless="${card4.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/4/' + ${card4.afterEvolutionImage}">[[${card4.cardName}]]</a>
							</th:block>
						</td>
						<td>[[${card4.type}]]</td>
						<td>[[${card4.performance}]]</td>
						<td>[[${card4.technique}]]</td>
						<td>[[${card4.visual}]]</td>
						<td>[[${card4.totalValue}]]</td>
						<td>[[${card4.skillName}]]</td>
						<td>
							<th:block th:if="${card4.skillEffect}">
								<th:block th:each="str, stat : ${card4.skillEffect.split('\r\n|\r|\n', -1)}">
									<th:block th:text="${str}"/>
									<br th:if="${!stat.last}"/>
								</th:block>
							</th:block>
						</td>
					</tr>
				</th:block>
			</table>
		</th:block>
		<h2>レアリティ：★★★</h2>
		<table>
			<tr>
				<th rowspan="2">カード名</th>
				<th colspan="5">ステータス</th>
				<th colspan="2">スキル</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
				<th>スキル名</th>
				<th>効果</th>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro1.png">輝き、ふたたび（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro2.png">輝き、ふたたび（進化後）</a>
				</td>
				<td>ピュア</td>
				<td>10187</td>
				<td>9313</td>
				<td>10843</td>
				<td>30343</td>
				<td>青空に見えた星</td>
				<td>
					7.5秒間 GREATがPEREFECTになり、スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro3.png">外国語の訳し方（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro4.png">外国語の訳し方（進化後）</a>
				</td>
				<td>ピュア</td>
				<td>11138</td>
				<td>9048</td>
				<td>10167</td>
				<td>30353</td>
				<td>リサーチ・オーバーヒート</td>
				<td>
					ライフが300回復し、7.5秒間 スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro5.png">言わなくちゃ･･････！（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro6.png">言わなくちゃ･･････！（進化後）</a>
				</td>
				<td>ハッピー</td>
				<td>9428</td>
				<td>10921</td>
				<td>9292</td>
				<td>29641</td>
				<td>Brand new me</td>
				<td>
					8.0秒間 GOOD以上がすべてPEREFECTになり、スコアが20%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro7.png">心高鳴るモノ（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro8.png">心高鳴るモノ（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>9742</td>
				<td>9476</td>
				<td>11138</td>
				<td>30356</td>
				<td>明日を楽しみに朝日を待つ</td>
				<td>
					ライフが300回復し、7.5秒間 スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro9.png">正月賛歌（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro10.png">正月賛歌（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>9718</td>
				<td>11033</td>
				<td>9340</td>
				<td>30091</td>
				<td>こ、心を込めて、歌いますっ</td>
				<td>
					7.0秒間 スコアが60%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro11.png">いつもじゃない私に（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro12.png">いつもじゃない私に（進化後）</a>
				</td>
				<td>クール</td>
				<td>11192</td>
				<td>9340</td>
				<td>9824</td>
				<td>30356</td>
				<td>心躍る言の葉を</td>
				<td>
					7.0秒間 BAD以下でもライフが減少しなくなり、スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro13.png">こだわりトッピング（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro14.png">こだわりトッピング（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>9751</td>
				<td>10812</td>
				<td>9072</td>
				<td>29635</td>
				<td>ショコラにこめた想い</td>
				<td>
					8.0秒間 GOOD以上がすべてPEREFECTになり、スコアが20%UPする
				</td>
			</tr>
		</table>
		<h2>レアリティ：★★</h2>
		<table>
			<tr>
				<th rowspan="2">カード名</th>
				<th colspan="5">ステータス</th>
				<th colspan="2">スキル</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
				<th>スキル名</th>
				<th>効果</th>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro1.png">イノセントフラップ</a>
				</td>
				<td>ハッピー</td>
				<td>5441</td>
				<td>5209</td>
				<td>5949</td>
				<td>16599</td>
				<td>見つけた居場所</td>
				<td>
					7.0秒間 スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro2.png">情熱、伝わる想い</a>
				</td>
				<td>クール</td>
				<td>5796</td>
				<td>5028</td>
				<td>5284</td>
				<td>16108</td>
				<td>メラメラ・インスパイア</td>
				<td>
					5.0秒間 BAD以下でもライフが減少しなくなり、スコアが10%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro3.png">はにかみポーズ</a>
				</td>
				<td>ピュア</td>
				<td>5841</td>
				<td>4999</td>
				<td>5270</td>
				<td>16110</td>
				<td>ニューイヤーセレブレーション</td>
				<td>
					8.0秒間 GREATがすべてPEREFECTになり、スコアが10%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro4.png">トラスト・ミー</a>
				</td>
				<td>パワフル</td>
				<td>6213</td>
				<td>5291</td>
				<td>5259</td>
				<td>16763</td>
				<td>かすかな羽ばたき</td>
				<td>
					8.0秒間 GREATがすべてPEREFECTになり、スコアが10%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro5.png">ノブレスペイルブルー</a>
				</td>
				<td>クール</td>
				<td>5966</td>
				<td>5241</td>
				<td>5391</td>
				<td>16598</td>
				<td>I believe</td>
				<td>
					ライフが300回復し、8.0秒間 スコアが10%UPする
				</td>
			</tr>
		</table>
		<h2>レアリティ：★</h2>
		<table>
			<tr>
				<th rowspan="2">カード名</th>
				<th colspan="5">ステータス</th>
				<th colspan="2">スキル</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
				<th>スキル名</th>
				<th>効果</th>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/1/mashiro1.png">ネガティブガール</a>
				</td>
				<td>パワフル</td>
				<td>3487</td>
				<td>2425</td>
				<td>1893</td>
				<td>7805</td>
				<td>憧れを抱いて</td>
				<td>
					7.0秒間 スコアが10%UPする
				</td>
			</tr>
		</table>
	</body>

</html>