<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
	<head>
		<title>ましろちゃん美術館</title>
		<meta name="description" content="ましろちゃん美術館へようこそ！ここは世界一かわいい倉田ましろちゃんを眺められるサイトです。"/>
		<link rel="stylesheet" href="/css/topPage.css">
	</head>
  </head>

	<body>
		<h1>ましろちゃん美術館</h1>
		<a href="mashiro_images">ましろちゃん画像一覧</a>
		<h2>レアリティ：★★★★</h2>
		<table>
			<tr>
				<th rowspan="2">カード名</th>
				<th colspan="5">ステータス</th>
				<th colspan="2">スキル</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
				<th>スキル名</th>
				<th>効果</th>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro1.png">ドキドキのお嬢様学校（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro2.png">ドキドキのお嬢様学校（進化後）</a>
				</td>
				<td>ハッピー</td>
				<td>12061</td>
				<td>11312</td>
				<td>11013</td>
				<td>34386</td>
				<td>輝く景色を目指して</td>
				<td>
					発動時に自分のライフが600以上の場合は、7.0秒間 スコアが80%UPする。<br>
					ライフが600未満の場合は、ライフを500回復する
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro3.png">ようこそパーティへ！（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro4.png">ようこそパーティへ！（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>10951</td>
				<td>12036</td>
				<td>11102</td>
				<td>34089</td>
				<td>一歩ずつ進もう</td>
				<td>
					7.0秒間 スコアが90%UP、<br>
					発動時に自分のライフが900以上の場合はスコアが110%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro5.png">憧れの光を浴びて（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro6.png">憧れの光を浴びて（進化後）</a>
				</td>
				<td>クール</td>
				<td>11161</td>
				<td>12605</td>
				<td>10621</td>
				<td>34387</td>
				<td>その目に映る景色</td>
				<td>
					ライフが450回復し、7.5秒間 スコアが60%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro7.png">憧れの場所に、今（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro8.png">憧れの場所に、今（進化後）</a>
				</td>
				<td>ピュア</td>
				<td>12395</td>
				<td>10772</td>
				<td>10926</td>
				<td>34093</td>
				<td>未来へと羽ばたいて</td>
				<td>
					7.0秒間 スコアが100%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro9.png">ホタルの光に見た未来（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro10.png">ホタルの光に見た未来（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>9782</td>
				<td>10348</td>
				<td>14015</td>
				<td>34145</td>
				<td>揺れる灯火、響く歌声</td>
				<td>
					7.0秒間 PERFECTのときのみ、スコアが110%UP。<br>
					発動者のバンド編成がMorfonicaのみの場合はPERFECTのときのみ、スコアが125%UP	
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro11.png">言の葉にのせて（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro12.png">言の葉にのせて（進化後）</a>
				</td>
				<td>ハッピー</td>
				<td>11615</td>
				<td>10113</td>
				<td>12366</td>
				<td>34094</td>
				<td>輝きの照らす先</td>
				<td>
					7.0秒間 スコアが80%UP、GREAT以下を出すまではスコアが95%UP、<br>
					発動者のバンド編成がハッピータイプのみの場合はGREAT以下を出すまでスコアが115%UP
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro13.png">Special birthday！</a>
				</td>
				<td>ピュア</td>
				<td>11306</td>
				<td>11352</td>
				<td>11285</td>
				<td>33943</td>
				<td>フェアリー・ブルーム</td>
				<td>
					ライフが450回復し、7.0秒間 BAD以下でもライフが減少しなくなる<br>
					さらに7.0秒間 スコアが40%UP、GREAT以下を出すまではスコアが100%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro14.png">空色の海</a>
				</td>
				<td>ハッピー</td>
				<td>11193</td>
				<td>11521</td>
				<td>11433</td>
				<td>34147</td>
				<td>クジラさんとお散歩</td>
				<td>
					7.0秒間 PERFECTのときのみスコアが125%UP。GREAT以下のスコアは1/2になる
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro15.png">VS川のヌシ（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro16.png">VS川のヌシ（進化後）</a>
				</td>
				<td>クール</td>
				<td>13745</td>
				<td>8484</td>
				<td>11855</td>
				<td>34084</td>
				<td>フィッシャーガール</td>
				<td>
					7.0秒間 スコアが90%UP、GREAT以下を出すまではスコアが110%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/4/mashiro17.png">ようこそ異世界へ！（進化前）</a><br>
					<a href="/image/BangDream/4/mashiro18.png">ようこそ異世界へ！（進化後）</a>
				</td>
				<td>ピュア</td>
				<td>10592</td>
				<td>9452</td>
				<td>14046</td>
				<td>34090</td>
				<td>スキル＜大甘者＞</td>
				<td>
					7.0秒間 スコアが90%UP、<br>
					発動時に自分のライフが900以上の場合はスコアが110%UPする
				</td>
			</tr>
		</table>
		<h2>レアリティ：★★★</h2>
		<table>
			<tr>
				<th rowspan="2">カード名</th>
				<th colspan="5">ステータス</th>
				<th colspan="2">スキル</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
				<th>スキル名</th>
				<th>効果</th>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro1.png">輝き、ふたたび（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro2.png">輝き、ふたたび（進化後）</a>
				</td>
				<td>ピュア</td>
				<td>10187</td>
				<td>9313</td>
				<td>10843</td>
				<td>30343</td>
				<td>青空に見えた星</td>
				<td>
					7.5秒間 GREATがPEREFECTになり、スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro3.png">外国語の訳し方（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro4.png">外国語の訳し方（進化後）</a>
				</td>
				<td>ピュア</td>
				<td>11138</td>
				<td>9048</td>
				<td>10167</td>
				<td>30353</td>
				<td>リサーチ・オーバーヒート</td>
				<td>
					ライフが300回復し、7.5秒間 スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro5.png">言わなくちゃ･･････！（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro6.png">言わなくちゃ･･････！（進化後）</a>
				</td>
				<td>ハッピー</td>
				<td>9428</td>
				<td>10921</td>
				<td>9292</td>
				<td>29641</td>
				<td>Brand new me</td>
				<td>
					8.0秒間 GOOD以上がすべてPEREFECTになり、スコアが20%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro7.png">心高鳴るモノ（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro8.png">心高鳴るモノ（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>9742</td>
				<td>9476</td>
				<td>11138</td>
				<td>30356</td>
				<td>明日を楽しみに朝日を待つ</td>
				<td>
					ライフが300回復し、7.5秒間 スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro9.png">正月賛歌（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro10.png">正月賛歌（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>9718</td>
				<td>11033</td>
				<td>9340</td>
				<td>30091</td>
				<td>こ、心を込めて、歌いますっ</td>
				<td>
					7.0秒間 スコアが60%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro11.png">いつもじゃない私に（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro12.png">いつもじゃない私に（進化後）</a>
				</td>
				<td>クール</td>
				<td>11192</td>
				<td>9340</td>
				<td>9824</td>
				<td>30356</td>
				<td>心躍る言の葉を</td>
				<td>
					7.0秒間 BAD以下でもライフが減少しなくなり、スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/3/mashiro13.png">こだわりトッピング（進化前）</a><br>
					<a href="/image/BangDream/3/mashiro14.png">こだわりトッピング（進化後）</a>
				</td>
				<td>パワフル</td>
				<td>9751</td>
				<td>10812</td>
				<td>9072</td>
				<td>29635</td>
				<td>ショコラにこめた想い</td>
				<td>
					8.0秒間 GOOD以上がすべてPEREFECTになり、スコアが20%UPする
				</td>
			</tr>
		</table>
		<h2>レアリティ：★★</h2>
		<table>
			<tr>
				<th rowspan="2">カード名</th>
				<th colspan="5">ステータス</th>
				<th colspan="2">スキル</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
				<th>スキル名</th>
				<th>効果</th>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro1.png">イノセントフラップ</a>
				</td>
				<td>ハッピー</td>
				<td>5441</td>
				<td>5209</td>
				<td>5949</td>
				<td>16599</td>
				<td>見つけた居場所</td>
				<td>
					7.0秒間 スコアが30%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro2.png">情熱、伝わる想い</a>
				</td>
				<td>クール</td>
				<td>5796</td>
				<td>5028</td>
				<td>5284</td>
				<td>16108</td>
				<td>メラメラ・インスパイア</td>
				<td>
					5.0秒間 BAD以下でもライフが減少しなくなり、スコアが10%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro3.png">はにかみポーズ</a>
				</td>
				<td>ピュア</td>
				<td>5841</td>
				<td>4999</td>
				<td>5270</td>
				<td>16110</td>
				<td>ニューイヤーセレブレーション</td>
				<td>
					8.0秒間 GREATがすべてPEREFECTになり、スコアが10%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro4.png">トラスト・ミー</a>
				</td>
				<td>パワフル</td>
				<td>6213</td>
				<td>5291</td>
				<td>5259</td>
				<td>16763</td>
				<td>かすかな羽ばたき</td>
				<td>
					8.0秒間 GREATがすべてPEREFECTになり、スコアが10%UPする
				</td>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/2/mashiro5.png">ノブレスペイルブルー</a>
				</td>
				<td>クール</td>
				<td>5966</td>
				<td>5241</td>
				<td>5391</td>
				<td>16598</td>
				<td>I believe</td>
				<td>
					ライフが300回復し、8.0秒間 スコアが10%UPする
				</td>
			</tr>
		</table>
		<h2>レアリティ：★</h2>
		<table>
			<tr>
				<th rowspan="2">カード名</th>
				<th colspan="5">ステータス</th>
				<th colspan="2">スキル</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
				<th>スキル名</th>
				<th>効果</th>
			</tr>
			<tr>
				<td>
					<a href="/image/BangDream/1/mashiro1.png">ネガティブガール</a>
				</td>
				<td>パワフル</td>
				<td>3487</td>
				<td>2425</td>
				<td>1893</td>
				<td>7805</td>
				<td>憧れを抱いて</td>
				<td>
					7.0秒間 スコアが10%UPする
				</td>
			</tr>
		</table>
	</body>

</html>