<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
	<head>
		<title>ましろちゃんカード詳細</title>
		<meta name="description" content="ましろちゃんのカード詳細について記載します"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
		<link rel="stylesheet" href="/css/detail.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
	</head>
  </head>

	<body>
		<div>
			<a href="/mashiro/">戻る</a>
		</div>
		<h1>[[${card.cardName}]]</h1>
		<th:block th:switch="${card.cardRank}">
			<h2 th:case=5>レアリティ：★★★★★</h2>
			<h2 th:case=4>レアリティ：★★★★</h2>
			<h2 th:case=3>レアリティ：★★★</h2>
			<h2 th:case=2>レアリティ：★★</h2>
			<h2 th:case=1>レアリティ：★</h2>
		</th:block>
		<h2>データ</h2>
		<table>
			<tr>
				<th colspan="5">ステータス</th>
			</tr>
			<tr>
				<th>タイプ</th>
				<th>パフォーマンス</th>
				<th>テクニック</th>
				<th>ビジュアル</th>
				<th>総合力</th>
			</tr>
			<tr>
				<td>[[${card.type}]]</td>
				<td>[[${card.performance}]]</td>
				<td>[[${card.technique}]]</td>
				<td>[[${card.visual}]]</td>
				<td>[[${card.totalValue}]]</td>
			</tr>
		</table>
		<table>
			<tr>
				<th colspan="5">スキル</th>
			</tr>
			<tr>
				<th colspan="2">スキル名</th>
				<th colspan="3">効果</th>
			</tr>
			<tr>
				<td colspan="2">[[${card.skillName}]]</td>
				<td colspan="3">
					<th:block th:if="${card.skillEffect}">
						<th:block th:each="str, stat : ${card.skillEffect.split('\r\n|\r|\n', -1)}">
							<th:block th:text="${str}"/>
							<br th:if="${!stat.last}"/>
						</th:block>
					</th:block>
				</td>
			</tr>
		</table>
		<h2>画像</h2>
		<th:block th:if="${card.beforeEvolutionImage != null}">
			<div class="swiper-container" style="height: 720px; text-align: center;">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img height="100%" th:src="'/image/BangDream/' + ${card.cardRank} + '/' + ${card.beforeEvolutionImage}" alt=""></div>
					<div class="swiper-slide"><img height="100%" th:src="'/image/BangDream/' + ${card.cardRank} + '/' + ${card.afterEvolutionImage}" alt=""></div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</th:block>
		<th:block th:unless="${card.beforeEvolutionImage != null}">
			<div style="height: 720px; text-align: center;">
				<img height="100%" th:src="'/image/BangDream/' + ${card.cardRank} + '/' + ${card.afterEvolutionImage}" alt="">
			</div>
		</th:block>
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				effect: "slide",
				loop: true,
				autoplay: 5000,
				pagination: '.swiper-pagination',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
			})
		</script>
	</body>

</html>