<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ましろちゃん画像一覧</title>
		<meta name="description" content="ましろちゃんのカード画像が全て見られます"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
		<link rel="stylesheet" href="../css/mashiro_images.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
	</head>
	<body>
		<h1>ましろちゃん画像一覧</h1>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro1.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro2.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro3.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro4.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro5.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro6.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro7.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro8.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro9.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro10.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro11.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro12.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro13.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro14.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro15.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro16.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro17.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/4/mashiro18.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro1.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro2.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro3.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro4.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro5.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro6.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro7.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro8.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro9.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro10.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro11.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro12.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro13.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/3/mashiro14.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/2/mashiro1.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/2/mashiro2.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/2/mashiro3.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/2/mashiro4.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/2/mashiro5.png" alt=""></div>
			<div class="swiper-slide"><img width="100%" src="../image/BangDream/1/mashiro1.png" alt=""></div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	<script>
		var mySwiper = new Swiper('.swiper-container', {
			effect: "slide",
			loop: true,
			autoplay: 5000,
			pagination: '.swiper-pagination',
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
		})
	</script>
	</body>
</html>