<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
	<head>
		<title>ましろちゃん美術館</title>
		<meta name="description" content="ましろちゃん美術館へようこそ！ここは世界一かわいい倉田ましろちゃんを眺められるサイトです。"/>
		<link rel="stylesheet" href="/css/topPage.css">
	</head>
  </head>

	<body>
		<h1>ましろちゃん美術館</h1>
		<a href="mashiro_images">ましろちゃん画像一覧</a>
		<th:block th:if="!${#lists.isEmpty(rank5DataList)}">
			<h2>レアリティ：★★★★★</h2>
			<table>
				<tr>
					<th rowspan="2">カード名</th>
					<th colspan="5">ステータス</th>
					<th colspan="2">スキル</th>
				</tr>
				<tr>
					<th>タイプ</th>
					<th>パフォーマンス</th>
					<th>テクニック</th>
					<th>ビジュアル</th>
					<th>総合力</th>
					<th>スキル名</th>
					<th>効果</th>
				</tr>
				<th:block th:each="card5 : ${rank5DataList}">
					<tr>
						<td>
							<th:block th:if="${card5.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/5/' + ${card5.beforeEvolutionImage}">[[${card5.cardName}]]（進化前）</a><br>
								<a th:href="'/image/BangDream/5/' + ${card5.afterEvolutionImage}">[[${card5.cardName}]]（進化後）</a>
							</th:block>
							<th:block th:unless="${card5.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/5/' + ${card5.afterEvolutionImage}">[[${card5.cardName}]]</a>
							</th:block>
						</td>
						<td>[[${card5.type}]]</td>
						<td>[[${card5.performance}]]</td>
						<td>[[${card5.technique}]]</td>
						<td>[[${card5.visual}]]</td>
						<td>[[${card5.totalValue}]]</td>
						<td>[[${card5.skillName}]]</td>
						<td>
							<th:block th:if="${card5.skillEffect}">
								<th:block th:each="str, stat : ${card5.skillEffect.split('\r\n|\r|\n', -1)}">
									<th:block th:text="${str}"/>
									<br th:if="${!stat.last}"/>
								</th:block>
							</th:block>
						</td>
					</tr>
				</th:block>
			</table>
		</th:block>
		<th:block th:if="!${#lists.isEmpty(rank4DataList)}">
			<h2>レアリティ：★★★★</h2>
			<table>
				<tr>
					<th rowspan="2">カード名</th>
					<th colspan="5">ステータス</th>
					<th colspan="2">スキル</th>
				</tr>
				<tr>
					<th>タイプ</th>
					<th>パフォーマンス</th>
					<th>テクニック</th>
					<th>ビジュアル</th>
					<th>総合力</th>
					<th>スキル名</th>
					<th>効果</th>
				</tr>
				<th:block th:each="card4 : ${rank4DataList}">
					<tr>
						<td>
							<th:block th:if="${card4.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/4/' + ${card4.beforeEvolutionImage}">[[${card4.cardName}]]（進化前）</a><br>
								<a th:href="'/image/BangDream/4/' + ${card4.afterEvolutionImage}">[[${card4.cardName}]]（進化後）</a>
							</th:block>
							<th:block th:unless="${card4.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/4/' + ${card4.afterEvolutionImage}">[[${card4.cardName}]]</a>
							</th:block>
						</td>
						<td>[[${card4.type}]]</td>
						<td>[[${card4.performance}]]</td>
						<td>[[${card4.technique}]]</td>
						<td>[[${card4.visual}]]</td>
						<td>[[${card4.totalValue}]]</td>
						<td>[[${card4.skillName}]]</td>
						<td>
							<th:block th:if="${card4.skillEffect}">
								<th:block th:each="str, stat : ${card4.skillEffect.split('\r\n|\r|\n', -1)}">
									<th:block th:text="${str}"/>
									<br th:if="${!stat.last}"/>
								</th:block>
							</th:block>
						</td>
					</tr>
				</th:block>
			</table>
		</th:block>
		<th:block th:if="!${#lists.isEmpty(rank3DataList)}">
			<h2>レアリティ：★★★</h2>
			<table>
				<tr>
					<th rowspan="2">カード名</th>
					<th colspan="5">ステータス</th>
					<th colspan="2">スキル</th>
				</tr>
				<tr>
					<th>タイプ</th>
					<th>パフォーマンス</th>
					<th>テクニック</th>
					<th>ビジュアル</th>
					<th>総合力</th>
					<th>スキル名</th>
					<th>効果</th>
				</tr>
				<th:block th:each="card3 : ${rank3DataList}">
					<tr>
						<td>
							<th:block th:if="${card3.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/3/' + ${card3.beforeEvolutionImage}">[[${card3.cardName}]]（進化前）</a><br>
								<a th:href="'/image/BangDream/3/' + ${card3.afterEvolutionImage}">[[${card3.cardName}]]（進化後）</a>
							</th:block>
							<th:block th:unless="${card3.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/3/' + ${card3.afterEvolutionImage}">[[${card3.cardName}]]</a>
							</th:block>
						</td>
						<td>[[${card3.type}]]</td>
						<td>[[${card3.performance}]]</td>
						<td>[[${card3.technique}]]</td>
						<td>[[${card3.visual}]]</td>
						<td>[[${card3.totalValue}]]</td>
						<td>[[${card3.skillName}]]</td>
						<td>
							<th:block th:if="${card3.skillEffect}">
								<th:block th:each="str, stat : ${card3.skillEffect.split('\r\n|\r|\n', -1)}">
									<th:block th:text="${str}"/>
									<br th:if="${!stat.last}"/>
								</th:block>
							</th:block>
						</td>
					</tr>
				</th:block>
			</table>
		</th:block>
		<th:block th:if="!${#lists.isEmpty(rank2DataList)}">
			<h2>レアリティ：★★</h2>
			<table>
				<tr>
					<th rowspan="2">カード名</th>
					<th colspan="5">ステータス</th>
					<th colspan="2">スキル</th>
				</tr>
				<tr>
					<th>タイプ</th>
					<th>パフォーマンス</th>
					<th>テクニック</th>
					<th>ビジュアル</th>
					<th>総合力</th>
					<th>スキル名</th>
					<th>効果</th>
				</tr>
				<th:block th:each="card2 : ${rank2DataList}">
					<tr>
						<td>
							<th:block th:if="${card2.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/2/' + ${card2.beforeEvolutionImage}">[[${card2.cardName}]]（進化前）</a><br>
								<a th:href="'/image/BangDream/2/' + ${card2.afterEvolutionImage}">[[${card2.cardName}]]（進化後）</a>
							</th:block>
							<th:block th:unless="${card2.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/2/' + ${card2.afterEvolutionImage}">[[${card2.cardName}]]</a>
							</th:block>
						</td>
						<td>[[${card2.type}]]</td>
						<td>[[${card2.performance}]]</td>
						<td>[[${card2.technique}]]</td>
						<td>[[${card2.visual}]]</td>
						<td>[[${card2.totalValue}]]</td>
						<td>[[${card2.skillName}]]</td>
						<td>
							<th:block th:if="${card2.skillEffect}">
								<th:block th:each="str, stat : ${card2.skillEffect.split('\r\n|\r|\n', -1)}">
									<th:block th:text="${str}"/>
									<br th:if="${!stat.last}"/>
								</th:block>
							</th:block>
						</td>
					</tr>
				</th:block>
			</table>
		</th:block>
		<th:block th:if="!${#lists.isEmpty(rank1DataList)}">
			<h2>レアリティ：★</h2>
			<table>
				<tr>
					<th rowspan="2">カード名</th>
					<th colspan="5">ステータス</th>
					<th colspan="2">スキル</th>
				</tr>
				<tr>
					<th>タイプ</th>
					<th>パフォーマンス</th>
					<th>テクニック</th>
					<th>ビジュアル</th>
					<th>総合力</th>
					<th>スキル名</th>
					<th>効果</th>
				</tr>
				<th:block th:each="card1 : ${rank1DataList}">
					<tr>
						<td>
							<th:block th:if="${card1.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/1/' + ${card1.beforeEvolutionImage}">[[${card1.cardName}]]（進化前）</a><br>
								<a th:href="'/image/BangDream/1/' + ${card1.afterEvolutionImage}">[[${card1.cardName}]]（進化後）</a>
							</th:block>
							<th:block th:unless="${card1.beforeEvolutionImage != null}">
								<a th:href="'/image/BangDream/1/' + ${card1.afterEvolutionImage}">[[${card1.cardName}]]</a>
							</th:block>
						</td>
						<td>[[${card1.type}]]</td>
						<td>[[${card1.performance}]]</td>
						<td>[[${card1.technique}]]</td>
						<td>[[${card1.visual}]]</td>
						<td>[[${card1.totalValue}]]</td>
						<td>[[${card1.skillName}]]</td>
						<td>
							<th:block th:if="${card1.skillEffect}">
								<th:block th:each="str, stat : ${card1.skillEffect.split('\r\n|\r|\n', -1)}">
									<th:block th:text="${str}"/>
									<br th:if="${!stat.last}"/>
								</th:block>
							</th:block>
						</td>
					</tr>
				</th:block>
			</table>
		</th:block>
	</body>

</html>